@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #00A4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('assets/Desktop - 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.logo-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}


h1 {
    font-size: 2.5rem;
    color: #1c4b8f;
    text-align: center;
    letter-spacing: 0.4rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

section input {
    width: 30rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #1c4b8f;
    font-size: 1rem;
    box-sizing: border-box;
}

section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #1c4b8f;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;

}

section button:hover {
    background-color: #162d55;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resultados-pesquisa {
    width: 60rem;
    height: 60vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

.item-resultado {
    background: #ffffff;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #1c4b8f;
}

.item-resultado a {
    text-decoration: none;
    color: #1c4b8f;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.item-resultado a:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.item-resultado img {
    width: 200px;
    margin-right: 20px;
}

.descricao-meta {
    color: #1c4b8f;
    margin: 0.5rem 0;
}

footer {
    background-color: #ffffff;
    color: #1c4b8f;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 1rem;
}

footer a {
    color: #1c4b8f;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    color: #162d55;
    transform: scale(2.2);
    text-decoration: underline;
}